html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.btn_primary{
    padding: 5px;
    border-radius: 5px;
    background-color: turquoise;
    color: white;
    font-weight: bold;
    border: none;
}

.btn_primary:hover{
    padding: 3px;
    margin: 2px;
}

.btn_primary:active{
    background-color: white;
    color: turquoise;
    border: 1px solid turquoise;
}

.small_space{
    margin: 5%;
}

