<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="uploads/favicon_image.png">
    <link rel="stylesheet" type="text/css" href="css/login.css"></link>
    <link rel="stylesheet" type="text/css" href="css/styles.css"></link>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="center container">
        <div class="color-strip">
            <p>Login</p>
        </div>
        <div class="center">
        <form action="" method="post">
            <div class="small_space">
                <input type="email" id="email_input" name="email_input" placeholder="example@email.com" required>
            </div>
            <div class="small_space">
                <input type="password" id="password_input" name="password_input" placeholder="P@$$word" required>
            </div>
            <div class="small_space">
                <button type="submit" class="btn_primary">Login</button>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
</body>
</html>
