<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="uploads/favicon_image.png">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
{% block body %}
    <div class="center container">
        <div class="color-strip">
            <p>Login</p>
        </div>
        <div class="center">
            <form method="post" onsubmit="console.log('Form submitted!');">
                <div class="small_space">
                    <input type="text" id="_username" name="_username" placeholder="example name" required>
                </div>
                <div class="small_space">
                    <input type="password" id="password_input" name="password" placeholder="P@$$word" required>
                </div>
                <div class="small_space">
                    <button type="submit" class="btn_primary">Login</button>
                </div>
            </form>
            <div class="small_space">
                <p>Don't have an account?</p>
                <a href="{{ path('load_register_page') }}">Register</a>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>